@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* @font-face {
    font-family: "Fargo";
    src: url(font/Fargo_PERSONAL_USE_ONLY.otf), url(font/Fargo_PERSONAL_USE_ONLY.pfb), url(font/Fargo_PERSONAL_USE_ONLY.ttf), url(font/Fargo_PERSONAL_USE_ONLY.woff);
} */

body{
    font-family: Roboto,Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.25em;
    color: aliceblue;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6{
    /* font-family: Fargo; */
    line-height: 1.25em;
}

h1{
    font-size: 2em; /*em se base sur un font en parent et change proportionnellement a celui ci 1em = 100%*/
}
h2{
    font-size: 1.5em;
}
h3{
    font-size: 1.25em;
}
ul{
    list-style-type: circle;
    list-style-position: outside;
    margin-left: 30px;
}
li>ul{
    list-style-type: disc;
}
li>ul>li>ul{
    list-style-type: square;
}
ol{
    list-style-type: upper-roman;
    list-style-position: outside;
    margin-left: 30px;
}
li>ol{
    list-style-type: decimal;
}


body{
    background: url(img/pexels-furknsaglam-3109671.jpg) fixed;
    background-size: 100% auto ;
    background-position: center;
    background-repeat: no-repeat;
}
header{
    width: 100%;
    z-index: 10;
    padding-bottom: 40px;
    .header{
        margin: auto;
        width: 55vw;
        .AZERTY{
           border-bottom: 5px solid #c42631;
            .menu{
                background-color: #191919;
                .logo{
                    margin: 10px;
                    margin-left: 30px;
                    a{
                        svg{
                            height: 80px;
                            width: auto;
                            fill: #c52630;
                        }
                    }
                }
                .liens{
                    text-align: center;
                    height: 40px;
                    .row{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-bottom: 3px solid #c52630;
                    }
                    a{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                        text-decoration: none;
                        color: aliceblue;
                        &:hover{
                            background: rgb(194,90,97);
                            background: linear-gradient(180deg, #c3353e 0%, #c52630 100%);
                        }
                    }
                } 
            }
            .connecter{
                background-color: #191919;
                padding: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                .avatar{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: 100px;
                    position: relative;
                    &:hover>img{
                        animation:1s brille ease-in-out;
                        animation-iteration-count: 2;
                    }
                    img{
                        border-radius: 5px;
                        width: auto;
                        height: 100%;
                    }
                    span{
                        position: absolute;
                        bottom: 0;
                        text-decoration: none;
                        color: aliceblue;
                    }
                    .user{
                        bottom: 0;
                    }
                    .niveau{
                        top: 4px;
                        right: 4px;
                    }
                }
                .userconnecter{
                    text-align: center;
                    width: 100%;
                    .row{
                        width: 100%;
                        margin: 0;
                        height: 40px;
                       a{
                            padding: 0;
                            color: aliceblue;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-decoration: none;
                            &:hover{
                                background: rgb(194,90,97);
                                background: linear-gradient(180deg, #c3353e 0%, #c52630 100%);
                            }
                        } 
                    }
                    
                }
            }
            .deconnecter{
                background-color: #191919;
                padding: 0;
                display: flex;
                flex-direction: column-reverse;
                justify-content: space-between;
                align-items: center;
                .userconnecter{
                    text-align: center;
                    width: 100%;
                    .row{
                        width: 100%;
                        margin: 0;
                        height: 40px;
                       a{
                            padding: 0;
                            color: aliceblue;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            text-decoration: none;
                            &:hover{
                                background: rgb(194,90,97);
                                background: linear-gradient(180deg, #c3353e 0%, #c52630 100%);
                            }
                        } 
                    }
                    
                }
            }
        }
        
        @keyframes brille{
            0%{
                filter: brightness(1);
            }
            50%{
                filter: brightness(1.5);
            }
            100%{
                filter: brightness(1);
            }
        }

    }
    
}

#quisom{
    height: 100vh;
    .elem{
        justify-content: center;
        div{
            border-radius: 15px;
            position: relative;
            left: 20px;
            background-color: #c3353e;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 40vw;
            h2,p{
                width: 90%;
            }
        }
        img{
            position: relative;
            padding: 0;
            right: 20px;
            top: 50px;
            height: 100%;
            width: 40vw;
            border-radius: 15px;
        }
    }
    /* Scroll */
    svg{
        position: absolute;
        bottom: 10px;
        left: calc(50% - (55px / 2));
        z-index: 5;
        height: 85px;
        width: auto;
        padding: 10px;
        stroke: #ffffff;
        fill:none;
        stroke-width: 3px;
        .scoll{
            animation: linear scoll 2s;
            animation-iteration-count: infinite;
        }
        .fleche{
            animation: linear fleche 1.3s;
            animation-iteration-count: infinite;
        }
        .fleche2{
            animation: linear fleche 1.3s;
            animation-iteration-count: infinite;
            animation-delay: 0.4s;
        }.fleche3{
            animation: linear fleche 1.3s;
            animation-iteration-count: infinite;
            animation-delay: 0.8s;
        }
    }
    @keyframes scoll{
        0%{transform: translate(0,0);
            stroke: #ffffff;
            }
        100%{
            transform: translate(0,10%);
            stroke: #00000000;
        }
    }
    @keyframes fleche{
        0%{
            stroke: #ffffff;
            }
        100%{
            stroke: #ffffff00;
        }
    }
            /* Fin Scroll */
}



/* Catalogue */

#Catalogue{
    .row{
        justify-content: space-around;
        .card {
            width: 40%;
            margin: 10px 0;
            background-color: #191919;
        }
        img{
            margin-top: 10px;
            width: auto;
            height: 250px;
        }
            
        .btn-primary {
            color: #fff;
            background-color: #c52630;
            border-color: #c52630;
            
        }
        .btn-check:focus+.btn-primary, .btn-primary:focus {
            color: #fff;
            background-color: #c52630;
            border-color: #c52630;
            box-shadow: 0 0 0 0.25rem #962129;
        }
        
    }
}

@media screen and (max-width: 993px){
    header{
      .header{
        width: 100vw;
        .AZERTY{
            margin-right: 17px;
        }
        }  
    }
}
@media screen and (max-width: 600px){
    body{
        background-size: auto ;
    }
}